<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/home"><i class="fa fa-graduation-cap fa-lg me-2"></i>Consultorio Médico en Línea</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nvbCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item pl-1">
                    <a class="nav-link" >Contactos</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="#">Categorías</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="#">Glosario</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="#">Acerca de nosotros</a>
                </li>
                <li class="nav-item pl-1">
                    <a class="nav-link" href="#">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
