.navbar { background-color: #353a40; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #61a2f0; }
.navbar .navbar-nav .active > .nav-link { color: #61a2f0; }