<div class="container1">
    <p><strong>Consultorio Médico en Línea</strong></p>
</div>

<div class="container2">
    <div class="card cards" style="width: 18rem;">
        <img src="../../../assets/doctor.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Doctor</h5>
        <a routerLink="/login" class="btn btn-primary">Aceptar</a>
        </div>
    </div>

    <div class="card cards" style="width: 18rem;">
        <img src="../../../assets/3262953.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Enfermero</h5>
        <a routerLink="/login" class="btn btn-primary">Aceptar</a>
        </div>
    </div>

    <div class="card cards" style="width: 18rem;">
        <img src="../../../assets/paciente.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Añadir paciente</h5>
        <a routerLink="/addpatient" class="btn btn-primary">Aceptar</a>
        </div>
    </div>
</div>