<div class="container2">
    <h1>Expediente Médico</h1>
</div>

<div class="container1">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre Completo</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Ocupación</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Lugar de Nacimiento</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Nacionalidad</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">Alimentación</label>
                <select id="inputState" class="form-control">
                    <option>Regular</option>
                    <option>Buena</option>
                    <option>Mala</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Hábitos</label>
                <select id="inputState" class="form-control">
                    <option>Sedentario</option>
                    <option>Actividad física regular</option>
                    <option>Acticidad física buena</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Antecedentes médicos</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Antecedentes patológicos</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Diágnostico anterior</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Medicación anterior</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Alergias</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">Género</label>
                <select id="inputState" class="form-control">
                    <option>Hombre</option>
                    <option>Mujer</option>
                </select>
            </div>
        </div>
        <br>
        <div class="size">
            <a href="#" class="btn btn-primary btn-sm btn-block" role="button" aria-disabled="true">Ingresar</a>
            <br>
            <a routerLink="/home" class="btn btn-primary btn-sm btn-block" role="button"
                aria-disabled="true">Regresar</a>
        </div>
    </form>
</div>